android {
    buildTypes {

        def devToken = ""
        def devId = ""
        def devSn = ""
        def devKey = ""

        debug {
            resValue "string", "developer_token", devToken
            resValue "string", "device_id", devId
            resValue "string", "device_sn", devSn
            resValue "string", "device_key", devKey
        }

        release {
            resValue "string", "developer_token", devToken
            resValue "string", "device_id", devId
            resValue "string", "device_sn", devSn
            resValue "string", "device_key", devKey
        }

    }
}